#greeting{
  font-family: Arial;
  font-weight: light;
  color: white;
  font-size: 50px;
}

#time{
  font-family: Arial;
  font-weight: bold;
  color: white;
  font-size: 100px;
}

img#gmail{
  position: absolute;
  bottom: 70px;
  left: 10px;
}

img#canvas{
  position: absolute;
  bottom: 45px;
  left: 10px;
}

img#fb{
  position: absolute;
  bottom: 20px;
}

#task{
  white-space: pre-line;
  position: absolute;
  right: 0px;
  top: 0px;
  background:rgba(255,255,255,0.5);
  width: 300px;
  height: 595px;
  overflow-y: auto;
  padding: 5px;
  font-family: monospace;
  font-size: 12px;
}
